version: '3.3'

services:
  redis: 
    image: redis:latest
    ports:
      - 127.0.0.1:6379:6379
  
  device-simulators:
    build: simulators
    volumes:
      - ./utils:/usr/etc/scada/utils
      - ./config:/usr/etc/scada/config
    depends_on: [redis]

  sorter:
    build: src/sorter
    volumes: ['./config:/usr/etc/scada/config']
    depends_on: [redis]

  calibrator:
    build: src/calibrator
    volumes: ['./config:/usr/etc/scada/config', './utils:/usr/etc/scada/utils']
    depends_on: [redis]

  logger:
    build: src/logger
    volumes: ['./config:/usr/etc/scada/config']
    depends_on: [redis]
